<section id="seccio2" class="container">
  <div class="panel panel-default">
    <% if (events.length > 0) { %>
    <div class="panel-body">
      <h2>Eventos</h2>
    </div>
    <div class="row">
      <% events.forEach(function(item){
               console.log(item.nomEsdev); %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3><%= item.nomEsdev %></h3>
        <figure></figure>
        <img src="/public/img/<%= item.tipus%>.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/listUser/<%= item._id%>" class="btn btn-info">Detalls... <span class="glyphicon glyphicon-eye-open"></span></a>
        <p><%= item.ubicacio %></p>
      </div>
      <%   }); %>
    </div>
  </div>
  <% } else { %>
  <p>¡No existen eventos disponibles!</p>
  <%  } %>
  <div class="">
    <p>Promociona el teu esdeveniment
      <a href="/suggested" class="btn btn-primary">Proposar</span></a>
    </p>
  </div>
</section>
