<section id="seccio2" class="container">
  <% if (listado.length > 0) { %>

  <div class="panel panel-default">
    <div class="col-md-12 panel-body">
      <div class="col-md-12">
        <h2>Lista de esdeveniments</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <table id="tabla">
          <tr>
            <th>Codi</th>
            <th>Nom</th>
            <th>Tipus</th>
            <th>Ubicació</th>
            <th>Preu entrada</th>
            <th>Entrades disponibles</th>
            <th>Descripció</th>
            <th>Data</th>
            <th>Organitzador</th>
            <th>Assistents</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
          <% listado.forEach(function(item){ %>
          <tr>
            <td><%= item.codiEsdev %></td>
            <td><%= item.nomEsdev %></td>
            <td><%= item.tipus %></td>
            <td><%= item.ubicacio %></td>
            <td><%= item.preuEntrada %></td>
            <td><%= item.entradesDisponibles %></td>
            <td><%= item.descripcio %></td>
            <td><%= item.dataEsdev %></td>
            <td><%= item.organitzador %></td>
            <td>
              <% if (item.preuEntrada == 0) { %>
              <a href="/events/listAssistants/<%= item._id %>" class="btn btn-info">Veure assistents</a>
              <% } else { %>
              Es de pagament
              <% } %>
            </td>
            <td>
              <a href="/events/update/<%= item._id %>"><button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-pencil"></span></button></a>
            </td>
            <td>
              <form class="" action="/events/remove/<%= item._id %>" method="post">
                <button type="submit" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span></button>
              </form>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
    </div>
  </div>
  <% } else { %>
  <p>¡No hi ha esdeveniments disponibles!</p>
  <% }%>
  <div class="btn btn-primary">
    <a href="/adminprofile"><span class="glyphicon glyphicon-arrow-left"></span> Tornar al perfil</a>
  </div>
</section>
