<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Añadir evento</h2>
    <form class="" action="/events/addAdmin" method="post">
      Codi: <input type="text" name="idEsdev" value="<%= evento.idEsdev %>">
      Nom: <input type="text" name="nomEsdev" value="<%= evento.nomEsdev %>"><br><br>
      <button type="submit">Insertar</button>
      <button type="submit" formaction="/events/deleteSuggested">Eliminar</button>
    </form>

  </body>
</html>
