<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="/image/png" href="public/img/favicon.png"/>
<title>ConcertEsdev</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="public/estilos.css">

</head>

<body>

  <!-- S'inclos el header des de la carpeta layouts -->
  <%- include layouts/header.html %>

    <!-- S'inclos el nav des de la carpeta layouts -->
    <%- include layouts/navigation.html %>

  <!-- Es mostra els missatges des de el servidor a les vistes -->
  <% if (locals.messages) {
      if (messages.error) { %>
      <div class="col-md-10 col-md-offset-1 alert alert-danger"><%= messages.error %></div>
   <% } else if (messages.success) { %>
      <div class="col-md-10 col-md-offset-1 alert alert-success"><%= messages.success %></div>
   <% } else if (messages.info) { %>
      <div class="col-md-10 col-md-offset-1 alert alert-info"><%= messages.info %></div>
   <% }
    } %>


        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="well well-sm">
                <form class="form-horizontal" action="/events/update/<%= editado._id %>" method="post">
                  <fieldset>
                    <legend class="text-center header">Editar esdeveniment</legend>
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="codiEsdev" name="codiEsdev" value="<%= editado.codiEsdev %>" readonly required /></div>
                    </div>
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="nomEsdev" name="nomEsdev" value="<%= editado.nomEsdev %>" placeholder="Nom " required /></div>
                    </div>
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="tipus" name="tipus" value="<%= editado.tipus %>" placeholder="Tipus " required /></div>
                    </div>
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="ubicacio" name="ubicacio" value="<%= editado.ubicacio %>" placeholder="Direcció" required /></div>
                    </div>
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="preuEntrada" name="preuEntrada" value="<%= editado.preuEntrada %>" placeholder="Preu entrada (0 si és gratuït)" pattern="[0-9]{0,30}" required /></div>
                    </div>
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="entradesDisponibles" name="entradesDisponibles" value="<%= editado.entradesDisponibles %>" placeholder="Entrades disponibles (Opcional si hi ha aforament màxim)" pattern="[0-9]{0,30}" /></div>
                    </div>
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-6">
                        <input type="date" class="form-control" id="dataEsdev" name="dataEsdev" value="<%= editado.dataEsdev %>" placeholder="Data de l'esdeveniment" required /></div>
                    </div>
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-6">
                        <textarea name="descripcio" cols="75" rows="10" required ><%= editado.descripcio %></textarea></div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-success btn-lg">Actualitzar <span class="glyphicon glyphicon-refresh"></span></button>
                      </div>
                    </div>
                  </fieldset>
                  </form>

              </div>
              <div class="col-md-12 text-center">
                <a href="/events/listAll"><button type="submit" class="btn btn-info btn-lg">Tornar a la llista</button></a>
              </div>
            </div>
            </div>
            </div>

</body>

</html>
