<section id="seccio2" class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Eventos propuestos por los usuarios</h2>
    </div>
    <% if (listado.length > 0) { %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <table>
          <tr>
            <th>Evento</th>
          </tr>
          <% listado.forEach(function(item){
              var str = item.replace(".json", " "); %>
          <tr>
            <td><%= str %></td>
          </tr>
          <% }); %>
        </table>
      </div>
    </div>
    <% } else { %>
    <p>¡No hay eventos propuestos!</p>
    <%  } %>
  </div>
</section>
