<section id="seccio1" class="container-fluid">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="public/img/tibidabo.jpg" alt="Concerts" width="360" height="245">
          <div class="container">
            <div class="carousel-caption">
              <h2>ConcertEsdev <strong></strong></h2>
              <p class="glyphicon glyphicon-thumbs-up"></p>

            </div>
          </div>
        </div>

        <div class="item">
          <img src="public/img/barna1.jpg" alt="teatre" width="360" height="245">
          <div class="container">
            <div class="carousel-caption">
              <h2>ConcertEsdev<strong></strong></h2>

              <p class="glyphicon glyphicon-thumbs-up"></p>

            </div>
          </div>
        </div>

        <div class="item">
          <img src="public/img/barna2.jpg" alt="ballet" width="360" height="245">
          <div class="container">
            <div class="carousel-caption">
              <h2>ConcertEsdev<strong></strong></h2>

              <p class="glyphicon glyphicon-thumbs-up"></p>

            </div>
          </div>
        </div>

        <div class="item">
          <img src="public/img/barna3.jpg" alt="cinema" width="360" height="245">
          <div class="container">
            <div class="carousel-caption">
              <h2>ConcertEsdev<strong></strong></h2>

              <p class="glyphicon glyphicon-thumbs-up"></p>

            </div>
          </div>
        </div>

        <div class="item">
          <img src="public/img/barna4.jpg" alt="cinema" width="360" height="245">
          <div class="container">
            <div class="carousel-caption">
              <h2>ConcertEsdev<strong></strong></h2>

              <p class="glyphicon glyphicon-thumbs-up"></p>

            </div>
          </div>
        </div>

        <div class="item">
          <img src="public/img/barna5.jpg" alt="cinema" width="360" height="245">
          <div class="container">
            <div class="carousel-caption">
              <h2>ConcertEsdev<strong></strong></h2>

              <p class="glyphicon glyphicon-thumbs-up"></p>

            </div>
          </div>
        </div>

        <div class="item">
          <img src="public/img/barna6.jpg" alt="cinema" width="360" height="245">
          <div class="container">
            <div class="carousel-caption">
              <h2>ConcertEsdev<strong></strong></h2>

              <p class="glyphicon glyphicon-thumbs-up"></p>

            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Següent</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="seccio2" class="container">
  <div class="row text-center">
    <h2>Activitats i plans per fer a Barcelona</h2>
    <hr class="small" />
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Escull el teu!</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <h3>Cinema</h3>
        <figure></figure>
        <img src="public/img/Cinema2.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Cinema" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Teatre i Dansa</h3>
        <figure></figure>
        <img src="public/img/Teatre i Dansa.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Teatre i Dansa" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <h3>Cinema2</h3>
        <figure></figure>
        <img src="public/img/Cinema.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Cinema" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Gastronomia</h3>
        <figure></figure>
        <img src="public/img/Gastronomia.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Gastronomia" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Esports i Aventures</h3>
        <figure></figure>
        <img src="public/img/Esports i Aventures.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Esports i Aventures" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Musicals</h3>
        <figure></figure>
        <img src="public/img/Musicals.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Musicals" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Activitats Infantils</h3>
        <figure></figure>
        <img src="public/img/Activitats Infantils.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Activitats Infantils" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Ciència i tecnologia</h3>
        <figure></figure>
        <img src="public/img/Ciència i tecnologia.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Ciència i tecnologia" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Fires i Festivals</h3>
        <figure></figure>
        <img src="public/img/Fires i Festivals.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Fires i Festivals" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Música</h3>
        <figure></figure>
        <img src="public/img/Música.jpg" alt="Icona" width="160" height="145" />
        <a href="/events/findTipus/Música" class="btn btn-primary">Més...</a>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <hr class="small" />
</section>

<section id="seccio2" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3>Altres esdeveniments</h3>
      <figure></figure>
      <p>Mira altres esdeveniments disponibles</p>
      <a href="/events/findTipus/Altres" class="btn btn-primary">Més...</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3>Promociona el teu esdeveniment</h3>
      <figure></figure>
      <p>Pot incloure a la nostra pàgina el teu esdeveniment. </p>
      <a href="/suggested" class="btn btn-primary">Més...</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3>Tots els esdeveniments</h3>
      <figure></figure>
      <p>Coneix tots els esdeveniments disponibles</p>
      <a href="/events/listUser" class="btn btn-primary">Més...</a>
    </div>
  </div>
  <div class="row text-center">
    <hr class="small" />
  </div>
</section>
