<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="/image/png" href="public/img/favicon.png"/>
<title>ConcertEsdev</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="public/estilos.css">
<link rel="stylesheet" type="text/css" href="../../public/estilos.css">
</head>
   <body>

     <!-- S'inclos el header des de la carpeta layouts -->
     <%- include layouts/header.html %>

     <!-- S'inclos el nav des de la carpeta layouts
           Si l'usuari ha iniciat sessió li mostrará el nav de logueado amb el botó de logout
           Si no mostrará el nav normal amb les botons d'alta i de login-->
     <% if (locals.user) { %>
       <%- include layouts/navigationLoggedIn.html %>
     <% } else { %>
       <%- include layouts/navigation.html %>
     <% } %>

        <!-- Es mostra els missatges des de el servidor a les vistes -->
        <% if (locals.messages) {
            if (messages.error) { %>
            <div class="col-md-10 col-md-offset-1 alert alert-danger"><%= messages.error %></div>
         <% } else if (messages.success) { %>
            <div class="col-md-10 col-md-offset-1 alert alert-success"><%= messages.success %></div>
         <% } else if (messages.info) { %>
            <div class="col-md-10 col-md-offset-1 alert alert-info"><%= messages.info %></div>
         <% }
          } %>

       <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal"  action="/users/login" method="post">
                    <fieldset>
                        <legend class="text-center header">Iniciar Sessió</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-6">
                             <input type="email" class="form-control" id="email" name="email" placeholder="Escriu @mail " required/></div>
                            <div class="form-group">
                            </div>
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-6">
                               <input type="password" class="form-control" id="pass" name="pass" placeholder="Escriu la contrasenya" required/></div>
                            </div>

                             <div class="form-group">
                               <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg" id="login">Validar</button>
                                <p><a href="/confirmMail">No recordo la contrasenya</a></p>
                               </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
