<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="icon" type="/image/png" href="public/img/favicon.png"/>
  <title>ConcertEsdev</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="public/estilos.css">
</head>

<body>

  <div id="capa1">
    <header>
        <img class="uno" src="public/img/logonou.png" alt="imagen" width="160" heigth="160">
    </header>

  </div>

  <!-- S'inclos el header des de la carpeta layouts -->
  <%- include layouts/header.html %>

  <!-- Es mostra els missatges des de el servidor a les vistes -->
  <% if (locals.messages) {
      if (messages.error) { %>
      <div class="col-md-10 col-md-offset-1 alert alert-danger"><%= messages.error %></div>
   <% } else if (messages.success) { %>
      <div class="col-md-10 col-md-offset-1 alert alert-success"><%= messages.success %></div>
   <% } else if (messages.info) { %>
      <div class="col-md-10 col-md-offset-1 alert alert-info"><%= messages.info %></div>
   <% }
    } %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" action="/users/register" method="post">
            <fieldset>
              <legend class="text-center header">Registrar-se</legend>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom " required /></div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="cognom" name="cognom" placeholder="Cognom " required /></div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-6">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrònic " required /></div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="pass" name="pass" placeholder="Contrasenya (Major de 8 caracters inclos mayusculas, minusculas i numeros)" pattern="[A-Za-z0-9]{8,30}" required /></div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="confpass" name="confpass" placeholder="Confirmar contrasenya (Major de 8 caracters inclos mayusculas, minusculas i numeros)" pattern="[A-Za-z0-9]{8,30}" required /></div>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary btn-lg" id="login">Registrar-se</button>
                </div>
              </div>
        </div>
      </div>
      </fieldset>
      </form>


</body>

</html>
