<section id="seccio2" class="container">
    <% if (users.length > 0) { %>

    <div class="panel panel-default">
      <div class="col-md-12 panel-body">
        <div class="col-md-12">
          <h2>Lista d'usuaris</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <table id="tabla">
            <tr>
              <th>Nom</th>
              <th>Cognom</th>
              <th>Correu electrònic</th>
              <th>Contrasenya</th>
            </tr>
            <% users.forEach(function(item){ %>
            <tr>
              <td><%= item.nom %></td>
              <td><%= item.cognom %></td>
              <td><%= item.email %></td>
              <td><%= item.pass %></td>
            </tr>
            <% }); %>
          </table>
        </div>
      </div>
    </div>
      <% } else { %>
    <p>¡No hi ha usuaris registrats!</p>
    <% }%>
    <div class="btn btn-primary">
      <a href="/adminprofile">Tornar al perfil <span class="glyphicon glyphicon-arrow-left"></a>
    </div>
  </section>
