<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form class="form-horizontal" action="/users/login" method="post">
          <fieldset>
            <legend class="text-center header">Iniciar Sessió</legend>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
              <div class="col-md-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="Escriu @mail " required /></div>
              <div class="form-group">
              </div>
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
              <div class="col-md-6">
                <input type="password" class="form-control" id="pass" name="pass" placeholder="Escriu la contrasenya" required /></div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg" id="login">Validar</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
